<p>
    <a
      href={`https://docs.astro.build/${locale}/guides/internationalization/`}
      target="_blank"
    >
      Internationalization (i18n) Routing | Astro Docs
      <span class="material-icons-sharp">open_in_new</span>
    </a>
  </p>


  <p>
    <a href={getRelativeLocaleUrl(locale, "setup")}>
      {t({ es: "Configuración", en: "Setup", "pt": "Configuração" })}
    </a>
  </p>