---
import { cn, sluglify } from '@/utils';
import { LOCALES, useTranslations, type Lang } from "@/i18n";

const { name = 'View All', activeCategory } = Astro.props;
const currentPath = Astro.url.pathname;
const unsluglifyNameCategory = sluglify(name.toLowerCase());
const t = useTranslations(Astro.currentLocale as Lang);

const locale = Astro.currentLocale as Lang;

const translatedName = name === 'View All' ? t({
  es: "Ver Todo",
  en: "View All",
  pt: "Ver Tudo"
}) : name;

const isActive =
  activeCategory?.toLocaleLowerCase() === unsluglifyNameCategory ||
  (currentPath === '/' && translatedName === t({
    es: "Ver Todo",
    en: "View All",
    pt: "Ver Tudo"
  }));

const href = translatedName === t({
  es: "Ver Todo",
  en: "View All",
  pt: "Ver Tudo"
}) ? '/' : sluglify(`/${locale}/category/${unsluglifyNameCategory}/1`);
---

<a
  href={href}
  class={cn(
    `text-gray-600 dark:text-gray-300 pb-2.5 first-letter:uppercase font-medium hover:text-gray-800 border-b-2 border-opacity-0 dark:border-opacity-0 border-black dark:border-white dark:hover:border-white hover:border-opacity-100 transition-colors duration-150 ease-linear`,
    isActive &&
      `border-black border-b-2 text-black z-10 dark:border-white dark:text-white dark:border-opacity-100 border-opacity-100`
  )}
>
  {translatedName}
</a>
