---
import { cn } from "@/lib/utils";

import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  heading: string;
  text?: string;
  className?: string;
}
const { heading, text, className, ...attrs } = Astro.props;
---

<div class={cn("", className)} {...attrs}>

  {text && <p class="text-muted-foreground">{text}</p>}
  <h1 class="inline-block font-heading text-3xl">
    {heading}
  </h1>
  
</div>
<hr class="my-4" />
