---
import Layout from "@/layouts/Base";
import { LOCALES, useTranslations, type Lang } from "@/i18n";
const t = useTranslations(Astro.currentLocale as Lang);
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import About from "@/components/sections/bento-desci";
import Sponsors from "@/components/sections/sponsors";
import Agenda from "@/components/sections/agenda-desci";
import { getRelativeLocaleUrl } from "astro:i18n";
import Speakers from "@/components/sections/speakers";

import { FAQES } from "@/components/faq-desciday-es";
import { FAQEN } from "@/components/faq-desciday-en";
import { FAQPT } from "@/components/faq-desciday-pt";

// Images
const locale = Astro.currentLocale as Lang;
import Hero from "@/assets/images/home/hero.svg";

import { Image } from "astro:assets";
/* import Feature from "../pt/feature.astro"; */
/* 
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components"; */

/* import { getRelativeLocaleUrl } from "astro:i18n"; */
/* const locale = Astro.currentLocale as Lang; */




export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---

<Layout>
  <!--   {
    locale === "es" ? (
      <Image src={heroImageEs} alt="こんにちは" />
    ) : locale === "pt" ? (
      <Image src={heroImageptBR} alt="你好" />
    )   :  (
      <Image src={heroImageEn} alt="Hello" />
    )
  } -->

  <!--  Start Hero -->
  <div class="max-w[1260px]">
    <section class="space-y-6 pt-16 lg:py-28 flex">
      <div
        class="container min-h-[80svb] flex flex-wrap-reverse justify-center items-center lg:flex-nowrap gap-5"
      >
        <!--   <div class="pl-8 pt-8">
  <h1
      class="font-heading text-4xl font-red pb-[1.5rem] sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
    >

    {
      t({
        es: "En el corazón de la evolución cientifica",
        en: "At the heart of scientific evolution",
        pt: "No coração da evolução científica",
      })
    }


   
    </h1>
    <p
      class="max-w-[42rem] leading-normal text-lg md:text-2xl font-parraf text-muted-foreground sm:text-xl sm:leading-8 text-balance pb-[1.5rem]"
    >

    {
      t({
        es: "Nuestro propósito es impulsar los principios de la descentralización para construir un ecosistema científico colaborativo y accesible para todos en américa latina",
        en: "Our purpose is to promote the principles of decentralization to build a collaborative and accessible scientific ecosystem for everyone in Latin America.",
        pt: "Nosso propósito é impulsionar os princípios da descentralização para construir um ecossistema científico colaborativo e acessível para todos na América Latina.",
      })
    }

   
    </p>
    <div class="flex">
  
      </a>
</div> -->
        <!--   </div> -->
        <div class="">
          <div class="max-w-[80vw] flex m-auto">
            <div class="">
              <Image src={Hero} alt="DeSci LATAM" />
            </div>
          </div>
          <div class="flex justify-center font-bold text-xl">
            <p class="text-white">
              {
                t({
                  es: "12-13 de Agosto",
                  en: "August 12th and 13th",
                  pt: "12 e 13 de agosto",
                })
              }
            </p>
          </div>

          <div
            class="flex flex-wrap max-w-[720px] justify-center gap-10 pt-16 cursor-pointer"
          >
            <p class="hover:text-[#43A1D5] text-white hover:font-bold animate-shake">
              <a class="text-white no-underline text-xl">
                {
                  t({
                    es: "Evento de ciencia descentralizada",
                    en: "At the heart of scientific evolution",
                    pt: "No coração da evolução científica",
                  })
                }
              </a>
            </p>

       
           <!--  <li class="hover:text-[#43A1D5] hover:font-bold animate-shake">
              {
                t({
                  es: "Workshops",
                  en: "Workshops",
                  pt: "Workshops",
                })
              }
            </li> -->
            <!-- <li class="hover:text-[#43A1D5] hover:font-bold animate-shake">
              {
                t({
                  es: "Batalla de ciencia",
                  en: "At the heart of scientific evolution",
                  pt: "No coração da evolução científica",
                })
              }
            </li> -->
          </div>
          <div class="flex max-w-[720px] flex-wrap justify-center gap-10 pt-16">
            <!--     <div><a class="gap-2 rounded-3xl px-4 py-2 bg-[#F1B749] text-black hover:text-white cursor-pointer ">Become Sponsor</a></div> -->
         <!--    <div>
              <a   href={getRelativeLocaleUrl(locale, "batalla-de-ciencia")}
                class={cn(
                  buttonVariants({ size: "lg", rounded: "full" }),
                  "gap-2 text-black hover:border-white border hover:text-white cursor-pointer transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"
                 
                )}
              >
                {
                  t({
                    es: "Participar en la Batalla de Ciencia",
                    en: "At the heart of scientific evolution",
                    pt: "No coração da evolução científica",
                  })
                }</a>
            </div> -->
            <div>
              <a
              href="https://cutt.ly/fecjkRGu"
              target="_blank"
                class={cn(
                  buttonVariants({ size: "lg", rounded: "full" }),
                  "gap-2 text-black hover:border-white border hover:text-white bg-[#90C0DD] cursor-pointer transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300"
                )}
              >
                {
                  t({
                    es: "Registrate al evento",
                    en: "Register at the event",
                    pt: "No coração da evolução científica",
                  })
                }
              </a>
            </div>

            <!--     <div><a class="gap-2 rounded-3xl px-4 py-2 bg-[#43A1D5] text-black hover:text-white cursor-pointer">Get Ticket</a></div> -->
          </div>
        </div>
      </div>
    </section>

    <!--  End Hero -->

    <!--   <Sponsors /> -->

  <!--   <About /> -->

    <!--    <Agenda /> -->
    <!--   
  <Speakers /> -->

    {Astro.currentLocale === "es" && <FAQES client:load />}
    {Astro.currentLocale === "en" && <FAQEN client:load />}
    {Astro.currentLocale === "pt" && <FAQPT client:load />}
  </div>
</Layout>

<script>
  import { animate } from "motion";
  const showAnimations = localStorage.getItem("animations") === "true";

  if (showAnimations) {
    animate(
      ".title",
      { y: [80, 0], opacity: [0, 1] },
      {
        duration: 2.5,
        opacity: { duration: 3 },

        offset: [0, 0.55, 0.75],
      }
    );
  }
</script>
