---
import Layout from "@/layouts/Base";
import Hero from "@/assets/images/home/hero.svg";
import { Image } from "astro:assets";
import { LOCALES, useTranslations, type Lang } from "@/i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import { FAQBatallaES } from "@/components/faq-batalla-de-ciencia-es";
import { FAQBatallaEN } from "@/components/faq-batalla-de-ciencia-en";
import { FAQBatallaPT } from "@/components/faq-batalla-de-ciencia-pt";
---
<Layout >
 
    <section class="space-y-6 pt-8 lg:py-28">

      <div class="max-w-[20vw] flex m-auto">
        <div class="">
          <Image src={Hero} alt="DeSci LATAM" />
        </div>
      
      </div>
      
      <div class="flex justify-center font-bold text-xl">
        <p class="text-white">
          {
            t({
              es: "Batalla de ciencia",
              en: "August 12th and 13th",
              pt: "12 e 13 de agosto",
            })
          }
        </p>
      </div>

        <div
          class="container  flex flex-wrap-reverse justify-center lg:flex-nowrap  gap-5 "
        >
        <div class="min-w-[720px]">
<iframe data-tally-src="https://tally.so/embed/woOzDO?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="1318" frameborder="0" marginheight="0" marginwidth="0" title="Reader Feedback"></iframe>

</div>

 <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdOr9VOdSJ1if4PSKwwS7GaSxGMZdTeJdBtP4_Y5wdAawdvOA/viewform?embedded=true" width="800" height="800" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
 -->
</div>
{Astro.currentLocale === "es" && <FAQBatallaES client:load />}
{Astro.currentLocale === "en" && <FAQBatallaEN client:load />}
{Astro.currentLocale === "pt" && <FAQBatallaPT client:load />}

 
    </section>

</Layout>

<script async src="https://tally.so/widgets/embed.js"></script>
<!--     <div class="flex center items-center">
</div>
</Layout> -->



<style>

  .JzxZH {
    background-color: #0a0910 !important;
  
  }
  </style>