---
import { useTranslations } from "@/i18n";
import { getCategories } from "@/utils/post";
import type { Lang } from "@/i18n";

const { locale, category } = Astro.props;
const t = useTranslations(locale as Lang);



const categories = await getCategories(locale as Lang);

---

<div class="flex flex-wrap gap-3 my-6">
  <a
    href={`/${locale}/blog/`}
    class={`px-3 py-1 rounded-md text-sm ${
      !category
        ? "bg-primary text-primary-foreground hover:rounded-full"
        : "bg-primary text-primary-foreground hover:rounded-full hover:bg-primary hover:text-primary-foreground"
    }`}
  >
  {t({
    es: "Todo",
    en: "All",
    pt: "Todos",
  })} 
  </a>
  {
    categories.map((cat) => (
      <a
        href={`/${locale}/blog/category/${cat}/`}
        class={`px-3 py-1 rounded-md text-sm ${
          category === cat
            ? "bg-neutral text-primary hover:rounded-full"
            : "bg-neutral  text-primary hover:rounded-full hover:bg-[primary]"
        }`}
      >
        <span class="pr-2">#</span>{cat}
      </a>
    ))
  }
</div>