---
// Layout for pages such as articles or documents
// Nested in Base layout

import BaseHead from '../components/BaseHead.astro'
import Layout from './Base.astro'
import MainLayout from './main-layout.astro'
import { cn, formatDate } from '../lib/utils'
import { buttonVariants } from '../components/ui/button'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

interface Props {
	title?: string
	description?: string
	frontmatter?: undefined
	slug?: string // Agregamos la propiedad slug
}

const { slug, title, description } = Astro.props.frontmatter || Astro.props
---

<Layout title={title} description={description}>
	<div class='relative container max-w-screen-md'>
		<div class=''>
			<button
				onclick='history.back()'
				class={cn(
					buttonVariants({ variant: 'ghost' }),
					'absolute left-[-200px]  hidden xl:inline-flex rounded-full text-primary dark:border-maintext dark:text-maintext dark:hover:text-mainbackground dark:hover:border-neutral dark:hover:bg-neutral border-primary hover:border-accent border-2 hover:text-mainbackground </button> '
				)}
				transition:animate='slide'
			>
				<Icon name='lucide:chevron-left' class='mr-2 size-4' />
				{''} Back
			</button>

			<article
				data-pagefind-body
				class='prose dark:prose-invert max-w-none dark:prose-a:text-neutral dark:prose-h1:text-maintext dark:prose-h2:text-maintext dark:prose-h3:text-maintext dark:prose-h4:text-maintext dark:prose-h5:text-maintext dark:prose-h6:text-maintext prose-a:text-accent prose-h1:font-light prose-h2:font-light prose-h3:font-light prose-h4:font-light prose-h5:font-light prose-h1:text-primary prose-h2:text-primary prose-h3:text-primary prose-h4:text-primary prose-h5:text-primary'
			>
				<div class='flex items-center justify-between'>
					<span class='font-medium text-muted-foreground' transition:name={`date-${slug}`}> </span>
				</div>
				<slot />
			</article>
		</div>
	</div>
</Layout>
